<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
<appSettings>
  
</appSettings>
  <ApiService u8server="localhost" u8user="demo" u8pwd="" u8acc="888" >
    <Task sleeptime="10000" multithread="1" ></Task>
    <CheckTask sleeptime="300000" ></CheckTask>
    <!--<Op dllname="U8.Interface.Bus.ApiService.Voucher.OP.Factory.DS" namespace="U8.Interface.Bus.ApiService.Voucher.OP.Factory.DS" ></Op>-->
  </ApiService>
  <DataService databasesrv="localhost" dbname="" user="sa" pwd="">
    <DbLink linkname =""></DbLink>
  </DataService>
  <Event lognocase="true" logtype="0">
    <Biz dllname="U8.Interface.Bus.Event.SyncAdapter.Biz.Factory.CQ" namespace="U8.Interface.Bus.Event.SyncAdapter.Biz.Factory.CQ"></Biz>
  </Event>
</configuration> 